.encabezado-secciones{
    display: flex;
    @extend %general;
    .column-enc-izq{
        padding-left: 50px;
        padding-top: 12px;
        padding-bottom: 12px;
        flex: 1 0 0;
        align-self: center;
            .title{
                color: $primary-300;
            }
    }
    .column-enc-der{
        img{
            width: 100%;
            vertical-align: middle;
        }
    }
}

/* Mq para móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
    .encabezado-secciones{
        flex-direction: column;
        gap: 0px;
        .column-enc-izq{
            padding-left: 0px;
        }
    }
}