/* galeria de fotos - sección productos */
.contenedor {
    @extend %container
  }
  
  .imagen {
    width: 100%;
  }
  
  .imagen:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
  }
  
  .imagen img {
    width: 100%;
    border-radius: 10px;
  }
  
  .galeria {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    align-items: center;
    padding-bottom: 3rem;
  }


@media (min-width:100px){
    .galeria{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:520px){
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:728px){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
    }
}